* {
  padding: 0;
  margin: 0;
  font-family: Euclid Circular A; }

.container {
  margin: 0 200px; }

.header__main {
  display: flex;
  justify-content: space-between;
  height: 101px;
  align-items: center; }
.header__search {
  width: 851px;
  height: 54px;
  background: #F6F6F6;
  display: flex; }
  .header__search--icon {
    width: 10%; }
  .header__search--input {
    border: none;
    outline: none;
    width: 90%;
    background: #ffffff00; }
.header__block-info {
  display: flex; }
.header__info {
  width: 20%; }
  .header__info--icon {
    margin-right: 16px; }
.header__items {
  display: flex; }
.header__item:nth-child(2) {
  margin: 0 36px; }
.header__block-info {
  height: 83px; }
.header__info {
  display: flex;
  justify-content: center;
  align-items: center; }

.banner {
  background-color: #29C8DD;
  width: 100%; }
  .banner__inner {
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .banner__title {
    font-weight: 600;
    font-size: 42px;
    color: #FFFFFF; }
  .banner__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    width: 579px;
    color: #FFFFFF; }
  .banner__button {
    width: 282px;
    height: 78px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .banner__item {
    width: 633px;
    display: flex;
    justify-content: center;
    transform: rotate(0.39deg); }
  .banner__item > img {
    filter: drop-shadow(-50px 50px 100px rgba(56, 179, 197, 0.3)); }

.bread-crumbs__inner {
  padding-top: 46px;
  width: 296px;
  height: 19px; }

.catalog {
  display: flex;
  padding-top: 65px; }
  .catalog__inner {
    display: flex;
    flex-wrap: wrap; }
  .catalog__title {
    font-size: 40px;
    width: 100%;
    padding-bottom: 58px; }
  .catalog__items {
    display: flex; }
  .catalog__sorting {
    width: 100%;
    display: flex;
    justify-content: space-between; }

.filter {
  width: 355px;
  display: flex;
  flex-wrap: wrap; }
  .filter__title {
    color: #2B2E34;
    font-size: 22px;
    width: 50%;
    font-weight: bold; }
  .filter__items {
    width: 100%; }
  .filter__item {
    padding-top: 60px; }
    .filter__item--title {
      color: #2B2E34;
      font-size: 18px;
      cursor: pointer; }
    .filter__item--dpowdown {
      transition: 0.5s;
      height: 0;
      overflow: hidden;
      padding-top: 10px; }
    .filter__item--meaning {
      font-size: 15px;
      margin-top: 16px;
      display: flex;
      align-items: center; }
    .filter__item--meaning > label {
      display: flex;
      cursor: pointer; }
    .filter__item--meaning::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 23px; }
    .filter__item--meaning-red::before {
      background-color: #FF6060; }
    .filter__item--meaning-yellow::before {
      background-color: #FFDC60; }
    .filter__item--meaning-green::before {
      background-color: #72E191; }
    .filter__item--meaning-blue::before {
      background-color: #6070FF; }
    .filter__item--meaning-purple::before {
      background-color: #A660FF; }
    .filter__item--meaning-pink::before {
      background-color: #FF60AC; }
    .filter__item--meaning-beige::before {
      background-color: #EEC3AB; }
    .filter__item--meaning-white::before {
      background-color: #FFFFFF; }
    .filter__item--meaning-black::before {
      background-color: #292929; }
    .filter__item--meaning-grey::before {
      background-color: #9D9D9D; }
  .filter__reset {
    width: 50%; }

.card {
  width: 354px;
  position: relative;
  padding: 0px 10.5px;
  height: 487px;
  display: flex; }
  .card__inner {
    margin: 0px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .card__img {
    min-height: 300px; }
  .card__text {
    width: 298px; }
  .card__price {
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #2B2E34;
    font-size: 20px; }
  .card__button {
    width: 82px;
    height: 82px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #38D3E8;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__button > img {
    width: 19px;
    height: 22px; }

.card:nth-of-type(3n) {
  padding-right: 0px; }

.info {
  padding-top: 190px; }
  .info__inner {
    margin: 0px 412px; }
  .info__title {
    font-size: 35px;
    color: #2B2E34; }
  .info__text {
    white-space: pre-line; }
  .info__subtitle {
    font-size: 22px;
    color: #2B2E34; }

.footer {
  padding-top: 247px; }
  .footer__items {
    width: 100%;
    display: flex; }
  .footer__item {
    width: 25%; }
  .footer__phone {
    padding-top: 65px;
    font-weight: bold; }
  .footer__email {
    font-weight: bold; }
  .footer__link {
    font-size: 16px;
    line-height: 33px;
    color: #7E838C; }
  .footer__working-mode {
    white-space: pre-line;
    color: #7E838C;
    line-height: 28px; }
  .footer__email {
    padding-top: 55px; }
  .footer__socials {
    padding-top: 59px; }
  .footer__subtitle {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 26px; }
  .footer__item:nth-child(2) {
    padding: 0px 200px; }
  .footer__item:nth-child(3) {
    padding-right: 200px; }
  .footer__sub {
    display: flex;
    width: 100%;
    padding: 106px 0px 38px 0px; }
  .footer__text {
    width: 25%;
    color: #7E838C;
    font-size: 16px;
    line-height: 20px; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-right: 20px; }

.custom-checkbox:checked + label::before {
  background-image: url("../img/main/products/checked.png"); }

/*# sourceMappingURL=style.css.map */
