* 
  padding: 0
  margin: 0
  font-family: Euclid Circular A

.container
  margin: 0 200px


.header


  &__main 
    display: flex
    justify-content: space-between
    height: 101px
    align-items: center

  &__search
    width: 851px
    height: 54px
    background: #F6F6F6
    display: flex

    &--icon
      width: 10%

    &--input
      border: none
      outline: none
      width: 90%
      background: #ffffff00

  &__block-info
    display: flex

  &__info
    width: 20%

    &--icon
      margin-right: 16px

  &__items
    display: flex

  &__item:nth-child(2)
    margin: 0 36px

  &__block-info
    height: 83px
    
  &__info
    display: flex
    justify-content: center
    align-items: center

.banner 
  background-color: #29C8DD
  width: 100%

  &__inner 
    height: 294px
    display: flex
    align-items: center
    justify-content: space-around

  &__title
    font-weight: 600
    font-size: 42px
    color: #FFFFFF

  &__text 
    font-weight: normal
    font-size: 18px
    line-height: 27px
    width: 579px
    color: #FFFFFF

  &__button
    width: 282px
    height: 78px
    background: #FFFFFF
    display: flex
    align-items: center
    justify-content: space-evenly

  &__item
    width: 633px
    display: flex
    justify-content: center
    transform: rotate(0.39deg)

  &__item > img 
    filter: drop-shadow(-50px 50px 100px rgba(56, 179, 197, 0.3))

.bread-crumbs 

  &__inner
    padding-top: 46px
    width: 296px
    height: 19px

.catalog
  display: flex
  padding-top: 65px

  &__inner
    display: flex
    flex-wrap: wrap

  &__title
    font-size: 40px
    width: 100%
    padding-bottom: 58px

  &__items
    display: flex


  &__sorting
    width: 100%
    display: flex
    justify-content: space-between



.filter
  width: 355px
  display: flex
  flex-wrap: wrap

  &__title
    color: #2B2E34
    font-size: 22px
    width: 50%

  &__items
    width: 100%

  

  &__reset
    width: 50%

.card
  width: 354px
  position: relative
  padding: 0px 10.5px
  height: 487px
  display: flex

  &__inner
    margin: 0px 28px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

  &__img
    min-height: 300px

  &__text
    width: 298px

  &__price
    height: 82px
    width: 100%
    display: flex
    align-items: center
    color: #2B2E34
    font-size: 20px

  &__button
    width: 82px
    height: 82px
    position: absolute
    bottom: 0
    right: 0
    background: #38D3E8
    display: flex
    justify-content: center
    align-items: center

  &__button > img 
    width: 19px
    height: 22px
  
.card:nth-of-type(3n)
  padding-right: 0px  