* 
  padding: 0
  margin: 0
  font-family: Euclid Circular A

.container
  margin: 0 200px


.header

  &__search-mobile
    display: none

  &__main-mobile
    display: none

  &__main 
    display: flex
    justify-content: space-between
    height: 101px
    align-items: center

  &__search
    width: 851px
    height: 54px
    background: #F6F6F6
    display: flex

    &--icon
      width: 10%

    &--input
      border: none
      outline: none
      width: 90%
      background: #ffffff00

  &__block-info
    display: flex

  &__info
    width: 20%

    &--icon
      margin-right: 16px

  &__items
    display: flex

  &__item:nth-child(2)
    margin: 0 36px

  &__block-info
    height: 83px
    
  &__info
    display: flex
    justify-content: center
    align-items: center

.banner 
  background-color: #29C8DD
  width: 100%

  &__inner 
    height: 294px
    display: flex
    align-items: center
    justify-content: space-around

  &__title
    font-weight: 600
    font-size: 42px
    color: #FFFFFF

  &__text 
    font-weight: normal
    font-size: 18px
    line-height: 27px
    width: 579px
    color: #FFFFFF

  &__button
    width: 282px
    height: 78px
    background: #FFFFFF
    display: flex
    align-items: center
    justify-content: space-evenly

  &__item
    width: 633px
    display: flex
    justify-content: center
    transform: rotate(0.39deg)

  &__item > img 
    filter: drop-shadow(-50px 50px 100px rgba(56, 179, 197, 0.3))

.bread-crumbs 

  &__inner
    padding-top: 46px
    width: 296px
    height: 19px

.catalog
  display: flex
  padding-top: 65px

  &__products
    flex: 1
    display: flex
    margin-left: 35px
    flex-wrap: wrap

  &__inner
    display: flex
    flex-wrap: wrap

  &__title
    font-size: 40px
    width: 100%
    padding-bottom: 58px

  &__items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 35px


  &__sorting
    width: calc(100% - 84px)
    display: flex
    justify-content: space-between
    background-color:  #F4F4F4
    padding: 0px 42px
    height: 87px
    align-items: center




.filter
  width: 295px
  background-color: #F4F4F4
  padding: 30px 30px
  height: min-content

  &__title
    color: #2B2E34
    font-size: 22px
    width: 50%
    font-weight: bold
    height: 30px

  &__items
    width: 100%

  &__item
    padding-top: 60px

    &--slider
      margin-top: 31px

    &--title
      color: #2B2E34
      font-size: 18px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: space-between

    &--title > img
      width: min-content
      height: min-content

    &--dpowdown
      transition: 0.5s
      height: 0
      overflow: hidden
      padding-top: 10px
  
    &--meaning
      font-size: 15px
      margin-top: 16px
      display: flex
      align-items: center
      cursor: pointer

    &--meaning > label
      display: flex
      cursor: pointer
    
    &--meaning-circle::before 
      content: ''
      width: 10px
      height: 10px
      border-radius: 50%
      margin-right: 23px

    
    &--meaning-circle-red::before 
      background-color: #FF6060

    &--meaning-circle-yellow::before 
      background-color: #FFDC60

    &--meaning-circle-green::before 
      background-color: #72E191

    &--meaning-circle-blue::before 
      background-color: #6070FF

    &--meaning-circle-purple::before 
      background-color: #A660FF
    
    &--meaning-circle-pink::before 
      background-color: #FF60AC

    &--meaning-circle-beige::before 
      background-color: #EEC3AB

    &--meaning-circle-white::before 
      background-color: #FFFFFF

    &--meaning-circle-black::before 
      background-color: #292929

    &--meaning-circle-grey::before 
      background-color: #9D9D9D

  &__reset
    width: 50%
    height: 30px

.card
  width: 354px
  position: relative
  height: 487px
  display: flex
  margin-bottom: 35px
  background-color: #FFFFFF

  &__inner
    margin: 0px 28px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

  &__img
    min-height: 300px

  &__text
    width: 298px

  &__price
    height: 82px
    width: 100%
    display: flex
    align-items: center
    color: #2B2E34
    font-size: 20px
    position: relative

  &__price:after
    content: "₽"
    width: 7px
    height: 25px
    font-size: 10px
    margin-left: 5px
    margin-top: 7px

  &__button
    width: 82px
    height: 82px
    position: absolute
    bottom: 0
    right: 0
    background: #38D3E8
    display: flex
    justify-content: center
    align-items: center

  &__button > img 
    width: 19px
    height: 22px
  
.card:nth-of-type(3n)
  padding-right: 0px  


.info 
  padding-top: 155px
  padding-bottom: 247px

  &__inner
    margin: 0px 412px

  &__title
    font-size: 35px
    color: #2B2E34
  
  &__text
    white-space: pre-line

  &__subtitle
    font-size: 22px
    color: #2B2E34

.footer

  padding-top: 57px

  &__items
    width: 100%
    display: flex

  &__item
    width: 25%
  
  &__phone
    padding-top: 65px
    font-weight: bold

  &__email
    font-weight: bold

  &__link
    font-size: 16px
    line-height: 33px
    color: #7E838C

  &__working-mode
    white-space: pre-line
    color: #7E838C
    line-height: 28px

  &__email
    padding-top: 55px

  &__socials
    padding-top: 59px

  &__subtitle
    font-size: 18px
    line-height: 23px
    padding-bottom: 26px

  &__item:nth-child(2)
    padding: 0px 200px
    
  &__item:nth-child(3)
    padding-right: 200px

  &__sub
    display: flex
    width: 100%
    padding: 106px 0px 38px 0px
  

  &__text
    width: 25%
    color: #7E838C
    font-size: 16px
    line-height: 20px

.custom-checkbox
  position: absolute
  z-index: -1
  opacity: 0

.custom-checkbox+label::before 
  content: ''
  display: inline-block
  width: 16px
  height: 16px
  flex-shrink: 0
  flex-grow: 0
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%
  margin-right: 20px
  background-color: #FFFFFF

.custom-checkbox:checked+label::before 
  background-image: url("../img/main/products/checked.png")


.main
  background-color: #FBFBFB


.filter__item > input[type=range]::-webkit-slider-thumb 
  width: 40px
  height: 40px
  border-radius: 0px
  border: 0 none
  background: transparent
  -webkit-appearance: none

.filter__item--slider > .noUi-base > .noUi-connects > .noUi-connect
  background: #38D3E8


.filter__item > .noUi-target 
  height: 4px
  border: none

.filter__item--slider > .noUi-base > .noUi-origin > .noUi-handle
    width: 3px
    height: 18px
    right: -1px
    top: -6px
    background: #38D3E8
    box-shadow: none
    border: none
    cursor: pointer

.filter__item--slider > .noUi-base > .noUi-origin > .noUi-handle:before
  display: none

.filter__item--slider > .noUi-base > .noUi-origin > .noUi-handle:after
  display: none

.filter__item--slider > .noUi-base > .noUi-origin > .noUi-handle > .noUi-tooltip
  bottom: -150%
  border: none
  background: #ffffff00
  font-size: 11px

.filter__item--slider > .noUi-base > .noUi-origin > .noUi-handle > .noUi-tooltip:after
  content: "₽"
  width: 7px
  height: 25px
  font-size: 10px
  top: 30%
  right: -8%
  position: absolute

body::-webkit-scrollbar 
  width: 10px


body::-webkit-scrollbar-track 
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  background-color: #f9f9fd


body::-webkit-scrollbar-thumb 
  background-color: #29C8DD
  background-image: -webkit-gradient(linear, 0 0, 0 100%)


.selectedColor::after
  content: "×"
  font-weight: bold
  margin-left: 17px


.banner-mobile
  display: none
  width: 100%
  background-color: #29C8DD

@media screen and (max-width: 415px) 

  .container
    margin: 0px 0px

  .container-mobile
    margin: 0px 20px

  .header

    &__inner
      padding: 26px 0px

    &__main
      display: none

    &__main-mobile
      display: flex
      flex-wrap: wrap
      align-items: center

    &__logo > img
      width: 186px
      height: 36px
      margin-left: 24px 

    &__menu > img
      width: 25px

    &__item:nth-child(2)
      margin: 0 22px

    &__main 
      flex-wrap: wrap


    &__search-mobile
      width: 100%
      height: 54px
      background: #F6F6F6
      display: flex


      &--icon


      &--input

    &__items > .header__item
      display: flex
      align-items: center

    &__items > .header__item:nth-child(1)
      margin-left: 26px

    &__block-info
      display: none

    &__info


      &--icon


    &__items


    &__item:nth-child(2)


    &__block-info

      
    &__info

  .banner-mobile
    display: block
    width: 100%
    background-color: #29C8DD

  .banner
    display: none
    
    &__inner
      height: auto
      flex-direction: column

    &__title
      font-size: 28px
      margin-top: 41px

    &__text
      width: 318px
      font-size: 15px
      text-align: center
      margin-top: 15px
      line-height: 22px

    &__button
      width: 232px
      height: 54px
      margin-top: 52px

    &__info
      display: flex
      flex-direction: column
      align-items: center

    &__item
      width: 50px

    &__item > img
      filter: none
      width: 100%

  .bread-crumbs 
    display: none

  .catalog
    &__title
      font-size: 25px

    &__products
      margin-left: 0px

  .info
    display: none

  .card
    width: 177px
    &__inner
      max-width: 100%

    &__img > img
      max-width: 100%

    &__text
      font-size: 14px
      width: 151px
    &__price


    &__price:after


    &__button
      width: 43px
      height: 43px

    &__button > img 

  .footer

    &__items
      flex-direction: column

    &__item:nth-child(2)
      padding: 0px 0px

  
